<!-- WIDGETS -->

<script type="text/javascript" src="{{pathSite}}assets/bootstrap/js/bootstrap.js"></script>

<!-- Bootstrap Dropdown -->

<!-- <script type="text/javascript" src="{{pathSite}}assets/widgets/dropdown/dropdown.js"></script> -->

<!-- Bootstrap Tooltip -->

<!-- <script type="text/javascript" src="{{pathSite}}assets/widgets/tooltip/tooltip.js"></script> -->

<!-- Bootstrap Popover -->

<!-- <script type="text/javascript" src="{{pathSite}}assets/widgets/popover/popover.js"></script> -->

<!-- Bootstrap Progress Bar -->

<script type="text/javascript" src="{{pathSite}}assets/widgets/progressbar/progressbar.js"></script>

<!-- Bootstrap Buttons -->

<!-- <script type="text/javascript" src="{{pathSite}}assets/widgets/button/button.js"></script> -->

<!-- Bootstrap Collapse -->

<!-- <script type="text/javascript" src="{{pathSite}}assets/widgets/collapse/collapse.js"></script> -->

<!-- Superclick -->

<script type="text/javascript" src="{{pathSite}}assets/widgets/superclick/superclick.js"></script>

<!-- Input switch alternate -->

<script type="text/javascript" src="{{pathSite}}assets/widgets/input-switch/inputswitch-alt.js"></script>

<!-- Slim scroll -->

<script type="text/javascript" src="{{pathSite}}assets/widgets/slimscroll/slimscroll.js"></script>

<!-- Slidebars -->

<script type="text/javascript" src="{{pathSite}}assets/widgets/slidebars/slidebars.js"></script>
<script type="text/javascript" src="{{pathSite}}assets/widgets/slidebars/slidebars-demo.js"></script>

<!-- PieGage -->

<script type="text/javascript" src="{{pathSite}}assets/widgets/charts/piegage/piegage.js"></script>
<script type="text/javascript" src="{{pathSite}}assets/widgets/charts/piegage/piegage-demo.js"></script>

<!-- Screenfull -->

<script type="text/javascript" src="{{pathSite}}assets/widgets/screenfull/screenfull.js"></script>

<!-- Content box -->

<script type="text/javascript" src="{{pathSite}}assets/widgets/content-box/contentbox.js"></script>

<!-- Overlay -->

<script type="text/javascript" src="{{pathSite}}assets/widgets/overlay/overlay.js"></script>

<!-- Widgets init for demo -->

<script type="text/javascript" src="{{pathSite}}assets/js-init/widgets-init.js"></script>

<!-- Theme layout -->

<script type="text/javascript" src="{{pathSite}}assets/themes/admin/layout.js"></script>

<!-- Theme switcher -->

<script type="text/javascript" src="{{pathSite}}assets/widgets/theme-switcher/themeswitcher.js"></script>

<script type="text/javascript" language="javascript" src="//tinymce.cachefly.net/4.2/tinymce.min.js"></script>
<script type="text/javascript" src="{{pathSite}}includes/js/default.js"></script>