<div class="scroll-sidebar">
    <ul id="sidebar-menu">
        <li class="header"><span>Catalogos</span></li>
        <li>
            <a href="#" title="Generales">
                <i class="glyph-icon icon-crop"></i>
                <span>Generales</span>
            </a>
            <div class="sidebar-submenu">
                <ul>
                    <li><a href="{{ pathSite }}catalogo/rol" title="Roles"><span>Roles</span></a></li>
                    <li><a href="{{ pathSite }}catalogo/status" title="Status"><span>Status</span></a></li>
                    <li><a href="{{ pathSite }}catalogo/user" title="Usuarios"><span>Usuarios</span></a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>